@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 90px;
    font-family: 'Bebas Neue', cursive;
    background-color: #FFDCA8;
    display: flex;
    justify-content: center;
    
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFDCA8;
    
}

.logo{
    font-weight: 700;
    font-size: 56px;
    background-color: black;
    color: white;
    padding: 20px 40px 0px 40px;
    text-decoration: underline;
    cursor: pointer;
}

.navButton{
    margin-left: 30px;
    border: none;
    padding: 10px;
    background-color: #FFDCA8;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    letter-spacing: -2px;

    
}
.navButton > .active{
    background-color: aqua;
    z-index: 999;
}

@media only screen and (max-width: 1240px) {
    .navContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        align-items: center;
        width: fit-content;
    }
    /* .navItems {
      display: flex;
      flex-direction: row;
      align-items: left ;
      margin-left: 500px;
      background-color: aqua;
      position: absolute;
      justify-content: center;

    } */
  }
@media only screen and (max-width: 768px) {
    .navContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
        width: fit-content;
    }
  }
@media only screen and (max-width: 425px) {
    .navContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        width: fit-content;
        height: fit-content;
        position: sticky;
    }
    .navItems{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-right: 10px;
        
    }
  }
@media only screen and (max-width: 425px) {
    
    .navItems{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-right: 30px;
        
    }
  }
@media only screen and (max-width: 320px) {
    
    .navItems{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-right: 10px;
        margin-right: -10px;
        
        
    }
    .navButton{
        
        padding: 0;
        margin: 10px;
        
    }
  }